[user]
    name = Sunny Bharne
    email = sunny.bharne@outlook.com

[core]
    editor = nvim
    autocrlf = input

[color]
    ui = auto

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --all
